<h1>Отчет по меню</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Название блюда</th>
            <th>Ингредиент 1</th>
            <th>Ингредиент 2</th>
            <th>Вес</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.dish_name }}</td>
                <td>{{ item.ingredient1 }}</td>
                <td>{{ item.ingredient2 }}</td>
                <td>{{ item.weight }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>