<link rel="stylesheet" href="/css/style.css">
<form method="POST" action="/register">
    <input type="text" name="user_login" placeholder="Имя пользователя" required>
    <input type="password" name="user_password" placeholder="Пароль" required>
    <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>
    <button type="submit">Зарегистрироваться</button>
</form>