<link rel="stylesheet" href="/css/style.css">
<a href="{{ path('menu_export_pdf') }}">Скачать PDF</a>
<a href="{{ path('menu_export_csv') }}">Скачать CSV</a>
<a href="{{ path('menu_export_xlsx') }}">Скачать XLSX</a>

<a href="/logout">Выйти</a>